@font-face {
  font-family: "FontLogo";
  src: url("../assets/fonts/KaushanScript-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontDefault";
  src: url("../assets/fonts/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.inputBox .q-field__control {
  color: var(--homeText);
}

.inputBox .q-field__label {
  color: var(--homeText);
}

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix,
.q-field__input {
  color: var(--homeText);
  font-size: 1.1em;
}

.transparent-background .q-field__inner {
  background-color: transparent;
  background: none;
}
.q-select__dropdown-icon {
  color: var(--homeText);
  padding: 10px;
}
