:root {
  --primary: #7a1b4a; /* Blanco puro */
  --background: linear-gradient(to bottom right, #fff, #f0f0f0);
  --secondary: #fff; /* Gris muy claro */
  --secondaryLight: rgba(131, 1, 45, 0.874);
  --accent: #600926; /* Negro */
  --dark: #000; /* Gris oscuro */
  --dark-page: #333333; /* Casi negro */
  --positive: #4caf50; /* Verde */
  --negative: #ff0000; /* Rojo */
  --info: #fffdd0; /* Crema */
  --oro: #d4af37; /* Oro */
  --warning: #ffff00; /* Naranja */
  --letter: #fff;
  --homeText: #000;
}

$primary: #7a1b4a; /* Blanco puro */
$secondary: #fff; /* Gris muy claro */
$secondaryLight: rgba(103, 2, 35, 0.874);
$accent: #600926; /* Negro */
$dark: #000; /* Gris oscuro */
$dark-page: #333333; /* Casi negro */
$positive: #4caf50; /* Verde */
$negative: #ff0000; /* Rojo */
$info: #fffdd0; /* Azul */
$oro: #d4af37; /* Oro */
$warning: #ffff00; /* Amarillo */
$letter: #fff;
$persona: #cae6b2 !important;
